.app-brand .brand-icon{
	max-width: 60px;
	border-radius:5px
}
.form-group .form-control, .input-group .form-control{
	border-color:#909090;
}
.app-brand a{
	width:100%;
	display: block;
}
.app-brand .brand-name{
	font-size:1.3rem;
	line-height: 1;
}

label.control-checkbox{
	font-size: 1rem;
	margin-bottom : 5px;
}
.forget-password {
	font-size: 1rem;
	/* color :#000; */
	margin-bottom: 10px;
}

.btn-primary{
	margin-top: 20px;
}