/* Start General */
.default-tabs{
	border-bottom:1px solid var(--gray);
	padding:20px;
	margin:20px 0;
}
.nav-tabs{
	border-color:#acb3bb
}
.nav-tabs .nav-item .nav-link.active{
	border-bottom-color:#acb3bb
}
.save-button{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom:20px;
}
.save-button button{
	margin:auto;
	display: inline-block;
	padding:10px 30px;;
}
.operation{
	margin-bottom: 40px;;
}
.responsive-data-table{
	clear: both;
	padding-top:20px;
}
.last-row{
	background-color:#ececec;
}
.navbar .navbar-right .navbar-nav .notifications-menu > .dropdown-menu{
	max-height:360px;
	overflow:auto;
}
.navbar .navbar-right .navbar-nav .notifications-menu > .dropdown-menu li a div{
	width:100%;
	/* padding:5px 0; */
	padding:0 5px;;
	clear: both;
}
.navbar .navbar-right .navbar-nav .notifications-menu > .dropdown-menu li >  a{
	padding:2px 10px;
}
.modal .operation{
	margin-top:0;
}
.delete.delete-item{
	position: absolute;
	top:10px;
	left:10px;
	z-index: 10;;
}
.delete.delete-item i{
	font-size:18px;
}
.checkbox-big .control-indicator{
	height:18px;
	width:18px;
}
.checkbox-big .control-indicator:after{
	top: 4px;
	right:2px;
    width: 11px;
    height: 5px;
}
.text-bold {
	font-weight: bold;
}
.card-header .operation{
	margin:0;
}
.strick > span{
	color: red;
	font-size:20px;
}
/* End General */
.background-danger{
	background:rgb(240 17 17 / 8%);
}

/* Phone Modal */
#updatePhones .phone{
	/* box-shadow: 2px 2px 10px #CCC; */
	padding:10px;
	position: relative;
}
#updatePhones .phone .control{
	display: inline;
	margin:10px 0;
}
#updatePhones .phone input[type=number]{
	max-width: 200px;
	display: inline;
	margin-right:10px;
	font-size:14px;
}
#updatePhones .phone .delete.delete-item{
	top:17px;
}

/* Start Question*/
.choose-list{
	padding-top:40px;
}
.choose-list > div input.form-control{
	display: inline;
	/* margin-left:40px; */
	width:90%
}
.choose-list .delete-button {
	display: inline;
	width: 10%;
	position: relative;
	margin-right:auto;
	/* position: relative; */
}

.choose-list .delete-button .delete-item{
	margin-top:5px;
	position: absolute;
	cursor: pointer;
	/* top:10px; */
	left:10px;
}
.choose-list .delete-button .delete-item i{
	font-size:20px;
	margin-right: auto;
}

.question-list .card.question{
	margin-bottom:1rem;
	position: relative;
}
.question-list .card-header{
	padding:1rem;
	border-bottom: 1px solid #CCC;
}
.question-list .question a.question{
	font-size:1.5rem;
	margin-left:20px;
	color:#000;
	font-weight: bold;;
	transition: 0.3s;
}
.question-list .question a.question:hover{
	color:royalblue;
	transition: 0.3s;
}
.question-list .question span.question-type{
	position: absolute;
	top:10px;
	left:10px;
	text-transform: capitalize;
	font-size:14px;
	padding:5px 10px;
}
 
/* Start Patient */
.application .question-title{
	font-size:1.5rem;
	font-weight: bold;;
	margin-bottom:10px;
}
.application .checkbox-big > span{
	font-size:1rem;
	margin:0 10px;
}
.comments .comment{
	margin-bottom:20px;
}
.comments .comment .sender-name a{
	font-size:1.4rem;
	font-weight: bold;
}
.comments .comment-content{
	margin-right:10px;
	padding:20px 10px;
	background-color: rgb(241 241 241);
	border-radius: 5px;;
	position: relative;
}
.comments .comment-content span.datetime{
	position: absolute;
	top:10px;
	left: 10px;
	font-size:.8rem
}
.comments .comment-content span.delete-item{
	position: absolute;
	top:-27px;
	left: 10px;
	/* font-size:2rem; */
	cursor: pointer;
	z-index: 1;

}
.comments .comment-content span.delete-item i{
	/* color; */
	font-size:1rem;
	color:rgb(88, 88, 88);
	z-index: 1;
}
/* End Patient */

/* Start Employee */
.modal-body.permissions > .row{
	padding:10px;
	border-bottom: 1px solid #CCC;
}
.modal .modal-title > span{
	font-size: 1.2em;
	font-weight: bold;
}